
<div *ngIf="userGroup">
    <h2><span>User Group</span> {{userGroup.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Permission</span></dt>
        <dd>
            <span>{{userGroup.permission}}</span>
        </dd>
        <dt><span>Feature</span></dt>
        <dd>
            <span>{{userGroup.feature}}</span>
        </dd>
        <dt><span>Group</span></dt>
        <dd>
            <div *ngIf="userGroup.group">
                <a [routerLink]="['/group', userGroup.group?.id]">{{userGroup.group?.id}}</a>
            </div>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{userGroup.user?.id}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-group/'+ userGroup.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
