<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 footer-icons">
                <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                <!-- <p>Hoard {{ version }}</p> -->
            </div>
            <div class="col-sm-4">
                <!-- <p>Hoard {{ version }}</p> -->
            </div>
            <div class="col-sm-4">
                <p>Hoard {{ version }}</p>
            </div>
        </div>
    </div>
</div>