
<div *ngIf="invitation">
    <h2><span>Invitation</span> {{invitation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Invitation Status</span></dt>
        <dd>
            <span>{{invitation.invitationStatus}}</span>
        </dd>
        <dt><span>Inviter</span></dt>
        <dd>
            {{invitation.inviter?.id}}
        </dd>
        <dt><span>Invitee</span></dt>
        <dd>
            {{invitation.invitee?.id}}
        </dd>
        <dt><span>Group</span></dt>
        <dd>
            <div *ngIf="invitation.group">
                <a [routerLink]="['/group', invitation.group?.id]">{{invitation.group?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'invitation/'+ invitation.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
