<div class="container-fluid">
  <div class="row dashboard-card">
    <div class="col-sm-3">
      <md-card class="card-red">
        <md-card-header>
          <md-card-title>
            <h3>15</h3>
          </md-card-title>
          <md-card-subtitle>
            <h6>Pending Sales Order</h6>
          </md-card-subtitle>
          <div class="card-red-icon"><i class="fa fa-truck fa-5x" aria-hidden="true"></div>
        </md-card-header>
      </md-card>
    </div>
    <div class="col-sm-3">
      <md-card class="card-blue">
        <md-card-header>
          <md-card-title>
            <h3>150</h3>
          </md-card-title>
          <md-card-subtitle>
            <h6>Pending Purchase Order</h6>
          </md-card-subtitle>
          <div class="card-blue-icon"><i class="fa fa-cubes fa-5x" aria-hidden="true"></div>
        </md-card-header>
      </md-card>
    </div>
    <div class="col-sm-3">
      <md-card class="card-green">
        <md-card-header>
          <md-card-title>
            <h3>22</h3>
          </md-card-title>
          <md-card-subtitle>
            <h6>Products</h6>
          </md-card-subtitle>
          <div class="card-green-icon"><i class="fa fa-flask fa-5x" aria-hidden="true"></div>
        </md-card-header>
      </md-card>
    </div>
    <div class="col-sm-3">
      <md-card class="card-yellow">
        <md-card-header>
          <md-card-title>
            <h3>20</h3>
          </md-card-title>
          <md-card-subtitle>
            <h6>Active Users</h6>
          </md-card-subtitle>
          <div class="card-yellow-icon"><i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></div>
        </md-card-header>
      </md-card>
    </div>
  </div>
</div>