
<div *ngIf="group">
    <h2><span>Group</span> {{group.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Group Name</span></dt>
        <dd>
            <span>{{group.groupName}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{group.description}}</span>
        </dd>
        <dt><span>Avatar</span></dt>
        <dd>
            <div *ngIf="group.avatar">
                <a (click)="openFile(group.avatarContentType, group.avatar)">
                    <img [src]="'data:' + group.avatarContentType + ';base64,' + group.avatar" style="max-width: 100%;" alt="group image"/>
                </a>
                {{group.avatarContentType}}, {{byteSize(group.avatar)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'group/'+ group.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
