
/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 500px;
    height: 500px;
    background: url("../../content/images/hoard.png") no-repeat center top;
    background-size: contain;
}

.banner-content {
    text-align: right;
    h1{
        color: #1C6E8C;
        font-weight: bold;
    }
    h1.everything {
        color: #FBFCFF;
    }
    p{
        color: #D0CCD0;
    }
}

.group-home {
    padding-top: 20px;
}

.login-register {
    text-align: center;
    letter-spacing: 4px;
    font-size: 20px;
    padding-top: 60px;
    color: #FBFCFF;
    a {
        color: #FBFCFF;
        text-decoration: none;
    }
    
}


/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/hoard.png") no-repeat center top;
        background-size: contain;
    }
}
