
<div *ngIf="purchaseOrderItem">
    <h2><span>Purchase Order Item</span> {{purchaseOrderItem.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Quantity</span></dt>
        <dd>
            <span>{{purchaseOrderItem.quantity}}</span>
        </dd>
        <dt><span>Total Cost</span></dt>
        <dd>
            <span>{{purchaseOrderItem.totalCost}}</span>
        </dd>
        <dt><span>Purchase Order</span></dt>
        <dd>
            <div *ngIf="purchaseOrderItem.purchaseOrder">
                <a [routerLink]="['/purchase-order', purchaseOrderItem.purchaseOrder?.id]">{{purchaseOrderItem.purchaseOrder?.referenceNumber}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'purchase-order-item/'+ purchaseOrderItem.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
